# Ignore all class files
*.class

# Ignore maven output directories
target/
build/

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
